* {
  margin: 0;
  padding: 0;
  
  
}
.myclass {
  background-color: orange;
}
#myId {
  background-color: rgb(115, 25, 199);
}

.login{
  margin: 20px;
  padding: 20px;
  display: flex;
}
.table{
  margin-left: 200px;
}